<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/modules/tailwindcss.js"></script>
  <script src="/modules/config.js"></script>
  <script src="/modules/cookies.js"></script>
</head>
<body>
<div class="p-2">
  <form class="flex gap-4 flex-col p-4">
    <span class="self-center">Tambah Mempelai</span>
    <label for="kode">Kode</label>
    <input class="p-2 border-b border-black/40" id="kode" type="text" name="kode" required>
    <button type="submit">Tambah</button>
  </form>
</div>
<script>
  // Klik tambah
  klikTambah()
  function klikTambah() {
    const form = document.querySelector('form')
    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      const formData = new FormData(form)
      const params = new URLSearchParams(formData)
      await fetch(`${uri}/api/undangan/add`, {
        headers: {
          'Authorization': `Bearer ${getCookie('token')}`,
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        body: params
      })
      .then(res=>res.json())
      .then(res=>{
        console.log(res)
        if(!res.status) {
          alert('Tambah undangan gagal')
        }else {
          alert('Tambah undangan berhasil')
          window.location.replace(`${uri}/admin/undangan?${window.location.search.substr(1)}`)
        }
      })
      .catch(err=>console.log(err))
    })
  }
</script>
</body>
</html>